# LLM
LLM_PROVIDER=your_selected_provider # anthropic, openai, openrouter, minimax
LLM_MODEL=gpt-5.2

OPENAI_API_KEY=your_openai_api_key_here 
ANTHROPIC_API_KEY=your_api_key
OPENROUTER_API_KEY=your_api_key
MINIMAX_API_KEY=your_minimax_api_key_here

HUGGINGFACEHUB_API_TOKEN=your_HUGGINGFACEHUB_API_TOKEN

SUPABASE_DB_URL=your_supabase_psql_url

API_KEY=yoour_api_key